@font-face {
  font-family: 'Gerbera Black';
  src: url('~@/assets/fonts/gerbera/Gerbera-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

$accent-color: #DB3727;
$footer-color: #212121;
$footer-text-color: #929292;
$divider-color: #E0E0E0;
$card-shadow-color: rgb(0 0 0 / 10%);
$filters-shadow-color: rgb(0 0 0 / 12%);
$white: #FFF;
$whitish: rgba(255, 255, 255, 0.7);
$text-color: #000;
$secondary-text-color: grey;
$logo-font: 'Gerbera Black';
$default-font-size: 14px;
$default-font-weight: 400;
