@font-face {
  font-family: 'Gerbera Black';
  src: url('~@/assets/fonts/gerbera/Gerbera-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

$header-color: #DB3727;
$white: #FFF;
$logo-font: 'Gerbera Black';
