@import 'vars';

/* set the theme color of the slider component */
$themeColor: #157ee1;

.vue-slider {
  margin: 12px 0;
}

/* import slider theme style */
@import '~vue-slider-component/lib/theme/antd.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, yandex-sans-rub-sign, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: initial;
  font-size: $default-font-size;
  font-weight: $default-font-weight;
}

html, body {
  height: 100%;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
}

.page-item {
  width: 37px;
  height: 32px;
  border: 1px solid rgba(0,0,0,.12);
  border-right: none;
  
  &:hover {
    cursor: pointer;
    background-color: #157ee1;
    color: #fff;
  }
}

.page-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  cursor: inherit !important;
}

.page-item-prev {
  width: 37px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .12);
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-bottom: 4px;

  &:hover {
    cursor: pointer;
    background-color: #157ee1;
    color: #fff;
  }
}

.page-item-next {
  width: 37px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .12);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 4px;

  &:hover {
    cursor: pointer;
    background-color: #157ee1;
    color: #fff;
  }
}

.page-item-active, .page-item-disabled {
  background-color: #f0f0f0;

  &:hover {
    cursor: default;
    background-color: #f0f0f0;
    color: #000;
  }
}

input, select, textarea, button {
  font-family:inherit;
}
